<!DOCTYPE html>
<html lang="en"><head><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style>


    <head>
        <title>Contest Description</title>
        <style data-styled="active" data-styled-version="5.3.8">
     a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    @font-face {
      font-family: 'Fira Code';
      font-weight: 700;
      src: url('FiraCode-Bold.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Fira Code';
      font-weight: 600;
      src: url('FiraCode-SemiBold.ttf') format('truetype');
    }
     @font-face {
      font-family: 'Fira Code';
      font-weight: 400;
      src: url('FiraCode-Regular.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Fira Code';
      font-weight: 300;
      src: url('FiraCode-Light.ttf') format('truetype');
    }
    </style><style data-styled="active" data-styled-version="5.3.8"></style><style data-styled="active" data-styled-version="5.3.8"></style><style data-styled="active" data-styled-version="5.3.8"></style><style data-styled="active" data-styled-version="5.3.8"></style><style data-styled="active" data-styled-version="5.3.8"></style>
        <script>
function toggleDropdown() {
    var dropdown = document.getElementById("dropdown");
    if (dropdown.style.display === "none") {
        dropdown.style.display = "block";
    } else {
        dropdown.style.display = "none";
    }
}
</script>
        <script>
(function() {
  var ws = new WebSocket('ws://' + window.location.host +
             '/jb-server-page?reloadMode=RELOAD_ON_SAVE&'+
             'referrer=' + encodeURIComponent(window.location.pathname));
  ws.onmessage = function (msg) {
      if (msg.data === 'reload') {
          window.location.reload();
      }
      if (msg.data.startsWith('update-css ')) {
          var messageId = msg.data.substring(11);
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length; i++) {
              var link = links[i];
              if (link.rel !== 'stylesheet') continue;
              var clonedLink = link.cloneNode(true);
              var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
              if (newHref !== link.href) {
                clonedLink.href = newHref;
              }
              else {
                var indexOfQuest = newHref.indexOf('?');
                if (indexOfQuest >= 0) {
                  // to support ?foo#hash
                  clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                    newHref.substring(indexOfQuest + 1);
                }
                else {
                  clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                }
              }
              link.replaceWith(clonedLink);
          }
      }
  };
})();
</script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7U5K8y3K3G5/8cJ5K6c5l5llI5K5K5K6K5K" crossorigin="anonymous"></script>
    </head>

<body data-new-gr-c-s-check-loaded="14.1187.0" data-gr-ext-installed="">

<div style="width: 100%; height: 100%; background: white">

    <!-- nav bar and footer -->
    <div style="width: 100%; height: 75px; left: 0px; top: 1094px; position: absolute">
        <div style="width: 1442px; height: 75px; left: 0px; top: 0px; position: absolute; background: #202322"></div>
        <a href="/" style="width: 78.11px; height: 24px; left: 1258.75px; top: 25px; position: absolute; text-align: center; color: white; font-size: 15px; font-family: Fira Code; font-weight: 700; line-height: 24px; word-wrap: break-word">Encode</a>
        <a href="/help" style="width: 34.05px; left: 140.19px; top: 25px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 25px; word-wrap: break-word">Help</a>
        <a href="/terms" style="width: 152.21px; left: 203.28px; top: 25px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 25px; word-wrap: break-word">Terms &amp; Conditions</a>
    </div>
    <div th:if="${session.login_user == null}">
        <div style="width: 1242px; height: 64px; left: 98px; top: 28px; position: absolute">
            <form class="d-flex" action="/" method="post">
                <div style="width: 570px; height: 42px; left: 323px; top: 2px; position: absolute; border-radius: 99999px; border: 1px solid #D8D8D8; display: flex; align-items: center; padding-left: 36px; padding-right:30px">
                    <img src="/search.png" alt="Search" style="width: 12px; height: 12px; margin-right: 12px;">
                    <input type="text" placeholder="Search" style="/* flex-grow: 1; */border: none;height: 90;font-size: 14px;font-family: 'Fira Code';font-weight: 400;color: #9A9A9A;outline: none;">      </div>
                <img style="width: 183px;height: 50px;left: 0px;top: -3px;position: absolute;" src="/logo.png">
            </form>
            <div style="width: 214px; height: 42.22px; left: 1028px; top: 2px; position: absolute">
                <a href="/register" style="width: 101.33px; height: 41.38px; position: absolute; left: 0px; top: 0px; background: black; border-radius: 9999px; border: none; color: white; font-size: 12px; font-family: 'Fira Code'; font-weight: 700; line-height: 41.38px; text-align: center; cursor: pointer; padding-top: 0; padding-bottom: 0;">
                    Sign up
                </a>
                <a href="/login" style="line-height: 38.3px;width: 100.85px;height: 38.5px;position: absolute;left: 113.15px;top: 0px;background: rgba(255, 255, 255, 0);border-radius: 9999px;border: 1.5px solid black;color: black;font-size: 12px;font-family: 'Fira Code';font-weight: 700;text-align: center;cursor: pointer;padding-top: 0;padding-bottom: 0;">
                    Login
                </a>
            </div>
        </div>
        <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">
            <a href="/" style="width: 1440px;height: 52.13px;left: 0px;top: 4.92px;position: absolute;background: white;border-top: 1px #cacaca solid;border-bottom: 1px #cacaca solid;"></a>
            <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
            <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
            <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
            <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
            <a  href="/coding" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Coding</a>

            <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
            <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
        </div>
        <div th:if="${session.login_user != null && session.login_user.isAdmin != 0}">
            <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">

                <a href="/" style="width: 1440px; height: 52.13px; left: 0px; top: 4.92px; position: absolute; background: white; border-top: 1px #767676 solid; border-bottom: 1px #767676 solid"></a>
                <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
                <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
                <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
                <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
                <a  href="/admin/upload" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Admin</a>

                <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
                <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
            </div>
        </div>
    </div>
    <div th:if="${session.login_user != null  && session.login_user.isAdmin != 0}">
        <div style="width: 1242px; height: 64px; left: 98px; top: 28px; position: absolute">
            <form class="d-flex" action="/" method="post">
                <div style="width: 570px; height: 42px; left: 323px; top: 2px; position: absolute; border-radius: 99999px; border: 1px solid #D8D8D8; display: flex; align-items: center; padding-left: 36px; padding-right:30px">
                    <img src="/search.png" alt="Search" style="width: 12px; height: 12px; margin-right: 12px;">
                    <input type="text" placeholder="Search" style="/* flex-grow: 1; */border: none;height: 90;font-size: 14px;font-family: 'Fira Code';font-weight: 400;color: #9A9A9A;outline: none;">      </div>
                <img style="width: 183px;height: 50px;left: 0px;top: -3px;position: absolute;" src="/logo.png">
            </form>
            <img style="width: 183px;height: 50px;left: 0px;top: -3px;position: absolute;" src="/logo.png">
            <div style="width: 126px; height: 36px; left: 1116px; top: 5px; position: absolute">
                <div style="position: absolute; top: 8px; left: 48px; display: flex; align-items: center;">
                    <img style="width: 36px; height: 36px; background: #676767; border-radius: 20px; position: absolute; left: -48px;" th:src="${session.login_user.image}" alt="User Image">
                    <div style="display: flex; align-items: center; font-size: 14px; font-family: 'Fira Code', monospace; font-weight: 700; line-height: 25px; color: black;">
                        <span style="white-space: nowrap; margin-right: 5px;" th:text="${session.login_user.nickName}">UserNickname</span>
                        <img style="width: 24px; height: 24px; cursor: pointer;" src="/arrow_drop_down.svg" onclick="toggleDropdown()" alt="Dropdown Arrow">
                    </div>
                </div>
                <div style=" top: 50px;width: 100%;height: 100%;position: absolute;top: 50; z-index: 1000; left:0px; display:none" id="dropdown" >
                    <div style="width: 150px; height: 104px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #cacaca solid"></div>
                    <div style="width: 150px; height: 54px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #cacaca solid"></div>
                    <a href="/user/setting" style="width: 150px; height: 29.51px;  top: 13px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word">Settings</a>
                    <a href="/logout" style="width: 150px; height: 29.51px;  top: 64px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word">Logout</a>
                </div>
            </div>
        </div>
        <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">

            <a href="/" style="width: 1440px;height: 52.13px;left: 0px;top: 4.92px;position: absolute;background: white;border-top: 1px #cacaca solid;border-bottom: 1px #cacaca solid;"></a>
            <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
            <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
            <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
            <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
            <a  href="/admin/upload" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Admin</a>

            <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
            <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
        </div>

        <div th:if="${session.login_user != null && session.login_user.isAdmin != 0}">
            <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">

                <a href="/" style="width: 1440px;height: 52.13px;left: 0px;top: 4.92px;position: absolute;background: white;border-top: 1px #cacaca solid;border-bottom: 1px #cacaca solid;"></a>
                <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
                <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
                <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
                <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
                <a  href="/admin/upload" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Admin</a>

                <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
                <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
            </div>
        </div>
    </div>
    <div th:if="${session.login_user != null  && session.login_user.isAdmin != 1}">
        <div style="width: 1242px; height: 64px; left: 98px; top: 28px; position: absolute">
            <form class="d-flex" action="/" method="post">
                <div style="width: 570px; height: 42px; left: 323px; top: 2px; position: absolute; border-radius: 99999px; border: 1px solid #D8D8D8; display: flex; align-items: center; padding-left: 36px; padding-right:30px">
                    <img src="/search.png" alt="Search" style="width: 12px; height: 12px; margin-right: 12px;">
                    <input type="text" placeholder="Search" style="/* flex-grow: 1; */border: none;height: 90;font-size: 14px;font-family: 'Fira Code';font-weight: 400;color: #9A9A9A;outline: none;">      </div>
                <img style="width: 183px;height: 50px;left: 0px;top: -3px;position: absolute;" src="/logo.png">
            </form>
            <img style="width: 183px;height: 50px;left: 0px;top: -3px;position: absolute;" src="/logo.png">
            <div style="width: 126px; height: 36px; left: 1116px; top: 5px; position: absolute">
                <div style="position: absolute; top: 8px; left: 48px; display: flex; align-items: center;">
                    <img style="width: 36px; height: 36px; background: #676767; border-radius: 20px; position: absolute; left: -48px;" th:src="${session.login_user.image}" alt="User Image">
                    <div style="display: flex; align-items: center; font-size: 14px; font-family: 'Fira Code', monospace; font-weight: 700; line-height: 25px; color: black;">
                        <span style="white-space: nowrap; margin-right: 5px;" th:text="${session.login_user.nickName}">UserNickname</span>
                        <img style="width: 24px; height: 24px; cursor: pointer;" src="/arrow_drop_down.svg" onclick="toggleDropdown()" alt="Dropdown Arrow">
                    </div>
                </div>
                <div style=" top: 50px;width: 100%;height: 100%;position: absolute;top: 50; z-index: 1000; left:0px; display:none" id="dropdown" >
                    <div style="width: 150px; height: 104px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #cacaca solid"></div>
                    <div style="width: 150px; height: 54px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #cacaca solid"></div>
                    <a href="/user/setting" style="width: 150px; height: 29.51px;  top: 13px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word">Settings</a>
                    <a href="/logout" style="width: 150px; height: 29.51px;  top: 64px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word">Logout</a>
                </div>
            </div>
        </div>
        <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">

            <a href="/" style="width: 1440px;height: 52.13px;left: 0px;top: 4.92px;position: absolute;background: white;border-top: 1px #cacaca solid;border-bottom: 1px #cacaca solid;"></a>
            <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
            <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
            <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
            <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
            <a  href="/coding" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Coding</a>

            <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
            <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
        </div>

        <div th:if="${session.login_user != null && session.login_user.isAdmin != 0}">
            <div style="width: 1440px; height: 60px; left: 0px; top: 94px; position: absolute">

                <a href="/" style="width: 1440px;height: 52.13px;left: 0px;top: 4.92px;position: absolute;background: white;border-top: 1px #cacaca solid;border-bottom: 1px #cacaca solid;"></a>
                <div style="width: 190px;height: 52px;left: 310px;top: 6px;position: absolute;background: #EFEFEF"></div>
                <a href="/learn" style="width: 67px;height: 29.51px;left: 578px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Learn</a>
                <a  href="/contests" style="width: 104px;height: 29.51px;left: 352px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Contests</a>
                <a  href="/leaderboard" style="width: 114px;height: 29.51px;left: 762px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Leaderboard</a>
                <a  href="/admin/upload" style="width: 123px;height: 29.51px;left: 975px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Admin</a>

                <a  href="/" style="width: 102px;height: 29.51px;left: 137px;top: 16.72px;position: absolute;text-align: center;color: black;font-size: 16px;font-family: Fira Code;font-weight: 600;line-height: 30px;word-wrap: break-word">Home</a>
                <a  href="/about" style="width: 111px; height: 29.51px; left: 1190px; top: 16.72px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Fira Code; font-weight: 600; line-height: 30px; word-wrap: break-word">About</a>
            </div>
        </div>
    </div>

    <!-- main body -->
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 100%; height: 100%; position: relative; background: white">

            <!-- nav bar-->
            <div th:if="${session.login_user != null && session.login_user.isAdmin != 0}" style="width: 504px; height: 39px; left: 89px; top: 262px; position: absolute">
                <a style="153px: 123px; left: 15px; top: 0px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word" th:href="@{'/contest?id=' + ${contestId}}">Contest information</a>
                <a style="153px: 123px; left: 205px; top: 0px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word" th:href="@{'/admin/upload_contest_problem?id=' + ${contestId}}">Upload Problems</a>
                <div style="width: 170px; height: 0px; left: 8px; top: 39px; position: absolute; border: 2px black solid"></div>
            </div>


            <!-- description-->
            <div style="width: 1205px; height: 30px; left: 98px; top: 199px; position: absolute; color: black; font-size: 24px; font-family: Fira Code; font-weight: 700; line-height: 30px; word-wrap: break-word" th:text="${contest.title}"></div>
            <div style="width: 682px; height: 283px; left: 97px; top: 320px; position: absolute; color: #676767; font-size: 16px; font-family: Fira Code; font-weight: 400; line-height: 26px;white-space: pre-line;" th:text="${contest.content}"></div>

            <!-- start button-->
            <div style="width: 139.86px; height: 41.38px; left: 102px; top: 380px; position: absolute" th:if="${session.login_user != null}">
                <form th:action="@{'/user/start_contest?'+'id='+${contestId}}" method="post">
                <button id="start" type="submit" class="btn btn-primary mb-3" style="width: 139.86px; height: 41.38px; position: absolute; background: black; border-radius: 9999px; border: none; padding: 0;" >
                    <div style="width: 116.55px; height: 29.55px; left: 12.09px; top: 5.91px; position: absolute; text-align: center; color: white; font-size: 12px; font-family: 'Fira Code', monospace; font-weight: 700; line-height: 30px; word-wrap: break-word;" >Start Contest</div>
                </button>
                </form>
            </div>

            <!-- ranking-->
            <div th:if="${session.login_user != null && session.login_user.isAdmin != 0}"  style="font-family:Fira Code;width: 504px; height: 39px; left: 89px; top: 462px; position: absolute" >
                <div style="left: 15px;font-size:14px;font-weight:700;position: relative;">Ranking</div>
                <div style="width: 70px;height: 0px;left: 8px;top: 30px;position: absolute;border: 2px black solid"></div>

                <table style="left: 8px;top: 30px;position: relative; font-size:14px;font-weight:700;color:#676767" id = "ranks">
                    <tr>
                        <th style=" width: 100px;">Ranking</th>
                        <th style=" width: 150px;">Username</th>
                        <th style=" width: 100px;">Score</th>
                    </tr>
                    <tr th:each="user, it : ${rankInfo.list}">
                        <td style="font-weight:400;text-align: center;" th:text="${it.index+1}"></td>
                        <td>
                            <img th:src="${user.image}" width="20" height="20" style="border-radius: 50%; vertical-align:middle;margin:0px 5px;margin-left: 20px;">
                            <label style="font-weight:400;margin-left: 1px;" th:text="${user.userName}"></label>
                        </td>
                        <td style="font-weight:400;text-align: center;" th:text="${user.score}"></td>
                    </tr>
                </table>
            </div>

            <!-- problems -->
            <div style="font-family:Fira Code;width: 504px; height: 39px; left: 89px; top: 600px; position: absolute" >
                <div style="left: 15px;font-size:14px;font-weight:700;position: relative;">Problems</div>
                <div style="width: 90px;height: 0px;left: 8px;top: 30px;position: absolute;border: 2px black solid"></div>
                <table id = "problems" style="left: 8px;top: 30px;position: relative; font-size:14px;font-weight:700;color:#676767">
                    <tr>
                        <th  style=" width: 100px;">Status</th>
                        <th  style=" width: 100px;">Problem</th>
                        <th  style=" width: 100px;">Category</th>
                        <th  style=" width: 100px;">Difficulty</th>

                    </tr>
                    <tr th:each="problem : ${pageInfo.list}">
                        <td>
                            <div th:each="status : ${statusInfo}">
                                <p  style="color:green;text-align: center;font-weight:400" th:if="${status==problem.problemId}">
                                    Solved <span>&#10003;</span> </p>
                            </div>
                        </td>
                        <td>

                            <a th:href="@{'/problems_contest?id='+${problem.problemId}+'&contestId='+${contestId}}"
                               th:text="${problem.title}"
                               style="color:grey;font-weight: 400;margin-left: 25px;">
                            </a>

                            <a  style="color:grey; font-weight:400;text-align: center;" th:if="${session.login_user != null && session.login_user.isAdmin != 0}" th:href="@{/admin/edit_contest_problem?id={id}(id=${problem.problemId})}" >
                                <img src="/icon_edit.svg" width="16" height="16" style="margin: -2px;">
                            </a>
                        </td>
                        <td>
                            <p style="font-weight:400;text-align: center;" th:text="${problem.category}"></p>
                        </td>
                        <td>
                            <p style="font-weight:400;text-align: center;" th:text="${problem.difficulty}"></p>
                        </td>
                    </tr>
                </table>
             </div>
            <!-- timer -->
            <div style="font-family:Fira Code;width: 504px; height: 39px; left: 89px; position: absolute" >
                <div id="timeLeft" th:text="${timeLeft}" style="display:none;"></div>
            </div>
            <div id="time" style="font-family: Fira Code; width: 1004px; height: 39px; left: 269px; top: 392px; position: absolute; display: none; font-size:11px">
                <div style="font-family: Fira Code; font-size: 14px;">
                    <p style="display: inline; margin: 0;">Time Left: </p>
                    <p id="h" style="display: inline; margin: 0;">0</p>
                    <p style="display: inline; margin: 0;">h</p>
                    <p id="m" style="display: inline; margin: 0;">0</p>
                    <p style="display: inline; margin: 0;">m</p>
                    <p id="s" style="display: inline; margin: 0;">0</p>
                    <p style="display: inline; margin: 0;">s</p>
                </div>
            </div>


        </div>
    </div>

    </div>


<div></div><div id="Chat-Plugin-Root" class="compose-root-component"></div>

<div></div><div id="compose-ai-general-snackbar-root"></div><div id="Chat-Plugin-Root" class="compose-root-component"></div></body></html>
<script>
        setInterval(function() {
            timeLeft = document.getElementById('timeLeft');
            var totalSeconds = parseInt(timeLeft.innerHTML) - 1;
            if(parseInt(timeLeft.innerHTML) == -1){
            document.getElementById('problems').style.display = 'none';
            document.getElementById('start').disabled = true;
            document.getElementById('time').style.display = 'none';
            }
            else if(totalSeconds<=0){
            document.getElementById('problems').style.display = 'block';
            document.getElementById('start').disabled = true;
            document.getElementById('start').style.background = 'grey';
            document.getElementById('time').style.display = 'block';

            document.getElementById('h').innerHTML = 0;
            document.getElementById('m').innerHTML = 0;
            document.getElementById('s').innerHTML = 0;
            document.getElementById('msg').innerHTML = "contest is over!";

            return;
            }else{
            document.getElementById('start').disabled = true;
            document.getElementById('problems').style.display = 'block';
            document.getElementById('time').style.display = 'block';
            document.getElementById('start').style.background = 'grey';

            var hours = Math.floor(totalSeconds / 3600);
            var minutes = Math.floor((totalSeconds % 3600) / 60);
            var seconds = (totalSeconds % 3600) % 60;
            document.getElementById('h').innerHTML = hours;
            document.getElementById('m').innerHTML = minutes;
            document.getElementById('s').innerHTML = seconds;
            document.getElementById('timeLeft').innerHTML = totalSeconds;
            }

        }, 1000);

    </script>